<span style='color: #000' title='Frames'>   138</span><span style='color: #009' title='Memory'>   9216.00 KB</span><span style='color: #900' title='Time'>   1577.06 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />