@charset "utf-8";

/* security attribute */
input[name=ishuman]{
	display: none;
}

.thehole{
	display:none;
	position:absolute;
	left:-1000px;
}

/* noscript */
.noscript{
	background-color: #ff7f16;
	border-bottom:2px solid #bc5d03;
	text-shadow: 1px 1px #000;
	display:block;
	padding: 8px;
	color: #fff;
	font-weight: bold;
	font-size:14px;
	text-align:center;
}

.noscript div{
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.5; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.5; }
	100% { opacity: 1.0; }
}

@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.5; }
	100% { opacity: 1.0; }
}

/* CSS Document */
body {
	margin: 0;
	font-family: Verdana;
	font-size: 12px;
	color: #454545;
	background-color: #fff;
}

hr {
	border: thin solid #dcdcdc
}

del {
	font-family: Verdana;
	font-size: 12px
}

a, a:link, a:visited, a:active {
	text-decoration: none;
	color: #043e7d;
	font-size: 11px;
}

a:hover {
	text-decoration: underline;
	color: #03C;
	font-size: 11px;
}

table, tr, td {
	border-collapse : collapse; 
	font-size : 12px; 
	font-family : Verdana; 
}

input {
	font-family: verdana;
	padding: 3px
}

input.button {
	color:#ffffff;
	font-weight:bold;
	padding: 3px;
	cursor: pointer;
	border: 1px outset #ccc;
	font-family: verdana;
	font-size: 10px;
	background-color: #F60
}

input.button:hover {
	color: #ffffff;
	border: 1px outset #fff;
	background-color: #ffae00
}

input.checkradio {
	border: none;
	background-color: transparent;
	background-image: none
}

select {
	border: 1px solid #999999; 
	font-size: 11px; 
	font-family: verdana, 'trebuchet ms', tahoma, georgia;
}

option {
	font-size: 11px; 
	font-family: verdana, 'trebuchet ms', tahoma, georgia;
	background-color: white
}

optgroup {
	font-size: 11px; 
	font-family: verdana, 'trebuchet ms', tahoma, georgia;
	font-style: normal;
}

textarea {
	font-family: verdana;
	padding: 3px
}

p,form {
	margin: 0px
}

.small {
	color: #666;
	font-size: 11px
}

.required {
	color: #000000
}

.asterik {
	color: #990000
}

.pagination {
	padding: 7px; 
	border-top: 1px solid #c4c4c4; 
	font-size: 11px;
	text-align: center
}

.noscript{
	background-color: #e00000;
	display:block;
	padding: 8px;
	color: #fff;
	font-weight: bold;
	font-size:12px;
}

.infobox {
	background-color: #efefef;
	border: 1px dotted #c4c4c4;
	text-align: center;
	padding: 10px;
	color: #06C
}

.tablehead {
	background-color: #003782;
	color: #ffffff;
	font-weight: bold;
	height: 20px;
	text-align: center
}

.hilite {
	background-color: #d7d5d5;
	color: #000000
}

/* error display */

input.error, select.error { 
	border: 1px solid red;
}

label.error {
	color: red;
	padding-left: 5px;
	font-size: 10px
}

textarea.error, select.error { 
	border: 1px solid red; 
}

#result {
	margin:0;
	position:absolute;
	border:0;
	padding:5px;
	position:fixed;
	color:white;
	background-color:#983232;
	background-color:rgba(128,0,0,0.8);
	width:100%;
	display:none;
	text-align:left;
}

#result ul {
	list-style-image:url(../assets/images/warn.png);
	margin-left:10px;
	font-size:10pt;
}

#resultnopadding {
	margin:0;
	position:absolute;
	border:0;
	padding:5px;
	position:fixed;
	color:white;
	background-color:rgba(128,0,0,0.8);
	width:100%;
	display:none;
	text-align:left;
}

#resultnopadding ul {
	list-style-image:url(../assets/images/warn.png);
	margin-left:10px;
	font-size:10pt;
}
