 /* Large desktop */
@media (min-width: 1200px) {
	/* product list */
	.product-quick-info{
		display:block;
	}
	
	.product-soldout, .product-sale {
		left: 250px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { }
 
/* Landscape phones and down */
@media (max-width: 480px) {
	/* product list */
	.product-quick-info{
		display:none;
	}
	
	.product-soldout, .product-sale {
		left: 245px;
	}
	
	/* invoice*/
	.payment-option .payment-section span{
		display: block;
		padding: 0 0 0 23px;
	}
}
