@charset "utf-8";

/* security attribute */
input[name=ishuman]{
	display: none;
}

.thehole{
	display:none;
	position:absolute;
	left:-1000px;
}

/* noscript */
.nojs{
	font-family: arial;
	text-align:center;
	margin-top:50px;
}

/* Web Font */
@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/font/cuprum.eot?#iefix') format('eot'), /* IE6-IE8 */
		 url('../assets/font/cuprum.woff') format('woff'), /* Modern Browsers */
		 url('../assets/font/cuprum.ttf') format('truetype'), /* Safari, Android, iOS, Opera  */
		 url('../assets/font/cuprum.svg') format('svg'); /* Legacy iOS*/
}

@font-face {
	font-family: 'Electrolize';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/font/electrolize.eot?#iefix') format('eot'), /* IE6-IE8 */
		 url('../assets/font/electrolize.woff') format('woff'), /* Modern Browsers */
		 url('../assets/font/electrolize.ttf') format('truetype'), /* Safari, Android, iOS, Opera  */
		 url('../assets/font/electrolize.svg') format('svg'); /* Legacy iOS*/
}

@font-face {
	font-family: 'Fjalla One';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/font/fjalla_one.eot?#iefix') format('eot'), /* IE6-IE8 */
		 url('../assets/font/fjalla_one.woff') format('woff'), /* Modern Browsers */
		 url('../assets/font/fjalla_one.ttf') format('truetype'), /* Safari, Android, iOS, Opera  */
		 url('../assets/font/fjalla_one.svg') format('svg'); /* Legacy iOS*/
}

@font-face {
	font-family: 'Quantico';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/font/quantico.eot?#iefix') format('eot'), /* IE6-IE8 */
		 url('../assets/font/quantico.woff') format('woff'), /* Modern Browsers */
		 url('../assets/font/quantico.ttf') format('truetype'), /* Safari, Android, iOS, Opera  */
		 url('../assets/font/quantico.svg') format('svg'); /* Legacy iOS*/
}


/* CSS Document */
body{
	font-size:14px;
	margin: 0;
	padding: 0;
}

a.ui-link, a.ui-link:active, a.ui-link:visited{
	color:#1F55AD !important;
}

.clearfix{
	clear:both;
	overflow:hidden;
}

.content-body{
	margin:-15px -16px 0 -15px;
}

.content-box{
	margin-top:10px;
	padding:0 10px;
	line-height: 20px;
}

.submit-loading{
	background-image:url(../assets/interface.mobile/ajax-loader.gif);
	background-repeat:no-repeat;
	padding:10px;
}

.error{
	font-size:12px;
	color:red;
	margin-top:-20px;
	color:#ff6600;
	position:relative;
}

#result {
	position:absolute;
	border:0;
	padding:3px;
	padding-left:5px;
	position:fixed;
	color:white;
	background-color:rgba(128,0,0,0.8);
	width:100%;
	display:none;
	text-align:left;
	z-index:10;
	text-shadow:none;
}

#result ul {
	list-style-image:url(../assets/images/warn.png);
	margin-left:0;
	font-size:13px;
}

.warning{
	padding:10px 5px;
}

/*header*/
.header{
	padding:5px 0 0 0;
	overflow:hidden;
	padding-top:0;
}

.header .topline .lang{
	position:absolute;
	top:8px;
	right:5px;
}

.header .topline{
	height: 40px;
}

.header .topline .lang img{
	width:23px;
	padding:0;
	margin-left:6px;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

.header  .topline  a.lang-selected  img{
	border-bottom:1px solid #ddd;
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}

.header .topline .logo{
	max-height:40px;
	position:absolute;
	top:10px;
	left:45px;
}

.header .topline .mainmenu {
	position: absolute;
	top:20px;
	left:4px;
	padding: 0;
}

.header .topline .mainmenu .mainmenu-icon{
	background-image: url(../assets/interface.mobile/icon-showpanel.png);
	padding: 11px 17px;
	background-repeat: no-repeat;
	background-position: center center;
}

.header .topline{
	position:relative;
	padding:10px 0;
	-moz-box-shadow:inset 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f0f7fa;
	box-shadow:inset 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4bb7db), color-stop(1, #107ba9));
	background:-moz-linear-gradient(top, #4bb7db 5%, #107ba9 100%);
	background:-webkit-linear-gradient(top, #4bb7db 5%, #107ba9 100%);
	background:-o-linear-gradient(top, #4bb7db 5%, #107ba9 100%);
	background:-ms-linear-gradient(top, #4bb7db 5%, #107ba9 100%);
	background:linear-gradient(to bottom, #4bb7db 5%, #107ba9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4bb7db', endColorstr='#107ba9',GradientType=0);
	background-color:#4bb7db;
	border-bottom:1px solid #005478;
}

.searchbox{
	border:0;
	border-top:1px solid #dcdcdc;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
}

.altmenu{
	font-size:12px;
	padding-top:9px;
	padding-bottom:6px;
	border:0;
}

.altmenu .groupicon{
	float:right;
}

.altmenu .groupicon a{
	padding:0 3px;
	margin-right:2px;
	font-size:10px;
	text-decoration:none;
	color:#666 !important;
}

.altmenu .groupicon a img{
	width:16px;
}

/* banner */
#banner {
	overflow: hidden;
	visibility: hidden;
	position: relative;
	margin-bottom: -3px;
}

#banner .swipe-wrap {
	overflow: hidden;
	position: relative;
}

#banner .swipe-wrap > div {
	float:left;
	width:100%;
	position: relative;
}

#banner .swipe-wrap > div img{
	width:100%;
}

/* basic style */
.strip-bar{
	text-indent:10px;
	font-weight:normal !important;
	color:#333;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e0e0e0), color-stop(1, #fafafa));
	background:-moz-linear-gradient(top, #e0e0e0 5%, #fafafa 100%);
	background:-webkit-linear-gradient(top, #e0e0e0 5%, #fafafa 100%);
	background:-o-linear-gradient(top, #e0e0e0 5%, #fafafa 100%);
	background:-ms-linear-gradient(top, #e0e0e0 5%, #fafafa 100%);
	background:linear-gradient(to bottom, #e0e0e0 5%, #fafafa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#fafafa',GradientType=0);
	background-color:#e0e0e0;
	border-bottom:1px solid #dcdcdc;
	border-top:1px solid #dcdcdc;
	padding:8px 0;
	text-decoration:none;
	font-size:20px;
	font-family: 'Fjalla One', sans-serif;
	margin-top: -1px
}

.content-share{
	margin:8px 0 10px 0;
}

.content-share a{
	background-color: #fff;
	margin-right: 10px;
	padding: 7px 1px;
}

.content-share a.facebook{
	background-color: #3B5998;
}

.content-share a.twitter{
	background-color: #00ACED;
}

.content-share a.gplus{
	background-color: #D14836;
}

.content-share a.pinterest{
	background-color: #CB2027;
}

.content-property{
	margin-bottom:10px;
	padding:5px 0;
}

.content-title{
	font-size:20px;
	line-height: 26px;
	font-family: 'Fjalla One', sans-serif;
}

.content-date{
	font-size:11px;
	color:#ec7519;
	margin-top:3px;
}

.content-atr{
	font-size:12px;
}

.content-date{

}

.bar{
	height:2px;
	display:block;
	margin-top:3px;
}

.bar-a{
	background-color:orange;
}

.bar-b{
	background-color:#659FCB;
}

.bar-c{
	background-color:#eaeaea;
}

/* footer */
.footer{
	text-align:center;
	padding:10px 0;
	border:0;
	font-weight:normal;
}

.footer a{
	font-size:12px;
	margin-bottom:5px;
	text-decoration:none;
	padding-left:2px;
	padding-right:2px;
}

.footer .footer-copyright{
	margin-top:10px;
	font-size:12px;
	color:#666;
}

.footer-edge{
	height:6px;
	background-color: #5388B9;
}

/* panel element*/
.panel-menu li, .panel-menu li a{
	font-weight:normal;
	font-size:13px;
}

.panel-menu li{
	position: relative;
	border:0 !important;
}

.panel-menu li a{
	padding:18px 0 !important;
	text-indent: 60px;
	display: block;
	position: relative
}

.panel-menu li span{
	width: 40px;
	height: 40px;
	bordeR:1px solid #3bada3;
	position: absolute;
	top: 5px;
	left: 5px;
	background-repeat:no-repeat;
	background-position:center center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color:#3bada3 ;
}

.panel-menu li span.panelmenu-home{
	background-image:url(/assets/interface.mobile/menu-home.png);
}

.panel-menu li span.panelmenu-video{
	background-image:url(/assets/interface.mobile/menu-video.png);
}

.panel-menu li span.panelmenu-help{
	background-image:url(/assets/interface.mobile/menu-help.png);
}

.panel-menu li span.panelmenu-blog{
	background-image:url(/assets/interface.mobile/menu-blog.png);
}

.panel-menu li span.panelmenu-imagegallery{
	background-image:url(/assets/interface.mobile/menu-imagegallery.png);
}

.panel-menu li span.panelmenu-contact{
	background-image:url(/assets/interface.mobile/menu-contact.png);
}

.panel-menu li span.panelmenu-testi{
	background-image:url(/assets/interface.mobile/menu-testi.png);
}

.panel-menu li span.panelmenu-about{
	background-image:url(/assets/interface.mobile/menu-about.png);
}

.panel-menu li span.panelmenu-morepage{
	background-image:url(/assets/interface.mobile/menu-morepage.png);
}

.social-group{
	margin:-15px -15px 0 -15px;
	padding: 13px 0 0 0;
	height: 60px;
	text-align: center;
	background-color: #333;
}

.social-group a{
	background-color: #fff;
	margin-right: 18px;
	padding: 9px 2px;
	border:1px solid #ccc;
}

.social-group a.soc-facebook{
	background-color: #4e77c9;
}

.social-group a.soc-twitter{
	background-color: #00ACED;
}

.social-group a.soc-gplus{
	background-color: #D14836;
}

.social-group a.socpinterest{
	background-color: #CB2027;
}

/* post list */
.post{
	padding-bottom:-15px;
}

.post .post-breadcumb{
	margin-top:15px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}

.post .post-breadcumb a{
	font-weight:normal;
}

.post .post-list{
	padding-top:8px;
	padding-bottom:5px;
	border-bottom:1px solid #c9c9c9;
	background-color:#fff;
	cursor:pointer;
	padding-left:10px;
	padding-right:10px;
	-webkit-box-shadow: 0 0 5px #ddd;
	-moz-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd;
}

.post .post-list:hover .post-link{
	text-decoration:underline;
}

.post .post-list-sense{
	background-color:#F9F9F9;
}

.post .post-list .post-subtitle{
	font-family: 'Electrolize', sans-serif;
	color:#777;
}

.post .post-list .post-link{
	margin-bottom:3px;
}

.post .post-list .post-link a{
	font-family: 'Electrolize', sans-serif;
	text-decoration:none;
	font-size:16px;
}

.post .post-list .post-date{
	font-size:11px;
	color:#777;
}

.post .post-list .post-desc{
	margin-top:5px;
	color:#444;
	font-size:14px;
	line-height:18px;
	font-family: 'Cuprum', sans-serif;
	text-shadow:none;
}

.post .post-list .post-desc .post-thumb-box{
	float:left;
	margin:3px 10px 0 0;
	padding: 1px;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
	border: 1px solid #ccc;
	position:relative;
}

.post .post-list .post-desc .post-thumb-box img{
	width: 100px;
}

.post .post-list .post-desc .post-thumb-box .post-icon{
	position:absolute;
	bottom:3px;
	right:5px;
}

.post .post-list .post-desc .post-thumb-box .post-icon img{
	width: 24px !important;
}

/* 
Add more style for video category
 */
.post-video-smallimg{
	width:100px;
}
  
.post-cat {
	color: #FF6201;
    font-size: 12px;
}

/* post detail */
.post-detail{
	overflow:hidden;
	line-height: 20px;
}

.post-detail iframe{
	border: 0 !important;
	width: 100% !important;
}

.post-detail .post-thumb-box{
	float:left;
	margin:0 10px 0 0;
}

.post-detail p{
	margin-top:0;
}

.post-tag, .post-source{
	margin-top:8px;
}

.post-tag a, .post-source a{
	font-weight:normal !important;
	text-shadow:none !important;
}

.post-command{
	text-align:right;
	margin-top:8px;
}

.related-post{
	margin-top:13px;
}

.related-post .related-list{
	border-bottom:1px solid #c9c9c9;
	overflow:hidden;
	margin-bottom:10px;
}

.related-post .related-list .related-thumb-box{
	float:left;
	margin:0 10px 3px 0;
	padding: 1px;
	-webkit-box-shadow: 0 0 10px #ddd;
	-moz-box-shadow: 0 0 10px #ddd;
	box-shadow: 0 0 10px #ddd;
}

.related-post .related-list .related-date{
	font-size:12px;
	color:#777;
	margin-top:4px;
}

