/* color scheme: http://colourco.de/monochrome-dark/8/%2375a234 */
/* body */
body{
	margin: 0;
	padding: 0;
}

.ui-body-c{
	background-image: none;
	background-color: #F2F2F2;
}

/* header */
.header{
	border-top: 0;
	border-bottom: 1px solid #ddd;
}

.header .topline{
	background-image: none;
	background-color: #63892d;
	border: 0;
}

.header .topline .ui-btn-inner{
	background-color: #75a234;
}

.header .ui-navbar{
	border-top: 0 !important;
	border-bottom: 0 !important;
}

.header .ui-navbar li{
	position: relative;
}

.header .ui-navbar .navbar-pick{
	bottom: -8px;
	right: 8px;
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #75a234;
	z-index: 10;
	display: none;
}

.header .ui-navbar .navbar-pick-active{
	display: block;
}

.header .ui-navbar .ui-btn{
	background-image: none;
	background-color: #75a234;
	color: #fff;
	text-shadow: none;
	border: 1px solid #E8E7E8;
}

.header .ui-navbar li:first-child .ui-btn{
	border-left: 0;
}

.header .ui-navbar a:hover{
	background-image: none;
	background-color: #86bb3c;
}

.header .ui-navbar ul li:hover > .navbar-pick{
	border-top: 8px solid #86bb3c;
}

/* sidebar panel */
#nav-panel ul.ui-listview .ui-li{
	background-color: #333;
	border:0;
	border-bottom: 1px solid #555;
}

#nav-panel ul.ui-listview .ui-li:hover{
	background-color: #444;
}

.shopcartadd-notif .pname{
	color: #75a234;
}

/* specific page style */
.strip-bar{
	background-image: none;
	background-color: #F2F2F2;
}

.warning{
	background-image: none;
	background-color: #FEFABA;
}

/* button */
.btn, .ui-btn, .ui-btn-hidden{
	background-image: none;
	background-color: #63892d;
	border: 1px solid #73a337;
	color: #fff;
	text-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.btn:hover, .ui-btn:hover, .ui-btn-hidden:hover{
	background-color: #75a234;
	border: 1px solid #94c349;
	color: #fff;
}

.btn i, .ui-btn i, .ui-btn-hidden i{
	text-shadow: none;
	color: #fff;
}

/* category */
.arrowlistmenu h3.menuheader span.arrow{
	background-color: #63892d;
}

.arrowlistmenu h3.openheader span.arrow{
	background-color: #75a234;
}

/* footer */
.footer-edge{
	background-color: #75a234;
}

/* panel menu */
.panel-menu li span{
	background-color: #75a234;
	border: 1px solid #75a234;
}

.panel-menu li a:hover span{
	background-color: #63892d;
	border: 1px solid #63892d;
}

/* line bar */
.bar-a{
	background-color: #75a234;
}

.bar-b{
	background-color: #75a234;
}

.bar-c{
	background-color: #eaeaea;
}
