body.head { font-family:'Georgia'; color:##0f82c5; font-size:16px; line-height:18px; }
font.font terbaru { font-family:'Tahoma'; color:##15c428; font-size:16px; line-height:18px; }
tes edit.tes edit { font-family:'Calibri'; color:##e85a5a; font-size:16px; line-height:18px; }
